// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Banner palette

$tropicgreen: #193639;
$darkbeige: #f3d2c1;
$grisrose: #887C7B;
$marron: #623C2B;
$gris: #A0A2A5;

//Main palette

$bodycolor:#fffffe;
$darkgreen: #004643;
$moutard: #f9bc60;
$contourgreen: #001e1d;
$turquise: #abd1c6
