<div class="footer">

  <div class="footer-links">
    <a href="https://github.com/diana-spieser"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/diana-spieser/"><i class="fab fa-linkedin"></i></a>
    <a href="https://medium.com/@dianaspieser"><i class="fa-brands fa-medium"></i></a></li>
  </div>

  <div class="footer-copyright">
    Diana Spieser 2023 ®️
  </div>
</div>
