<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="title"><h1><b></b></h1></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" id="navbar-example">
      <ul class="navbar-nav me-auto nav nav-tabs"role="tablist" >

          <li class="nav-item active"><a href="#about" class="nav-link">À propos</a></li>
          <li class="nav-item"><a href="#skills" class="nav-link">Compétences</a></li>
          <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
          <li class="nav-item"><a href="#experience"class="nav-link">Parcours</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
          </li>
      </ul>
    </div>
  </div>
</div> %>
<%#
<div id="navbar-example">
    <ul class="nav nav-tabs" role="tablist">
    navbarSupportedContent" %>

<nav id="navbar-ds" class="navbar navbar-light bg-light px-3 navbar-ds">
     <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "logo", title: "Homepage", class: "avatar" %>
    <% end %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading4">Parcours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading5">Contact</a>
    </li>

      </ul>
    </li>
  </ul>
</nav>
<%# <div data-bs-spy="scroll" data-bs-target="#navbar-ds" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">First heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading2">Second heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading3">Third heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p>...</p>
</div> %>
