
<nav id="navbar-ds" class="navbar navbar-light bg-light px-3 navbar-ds">
    <%= link_to "/", class: "navbar-brand", target:"_blank" do %>
      <%= image_tag "logo.png", alt: "logo", title: "Homepage", class: "avatar" %>
    <% end %>
  <ul class="nav nav-pills">
  <li class="nav-item">
      <a class="nav-link" href="/about"><i class="fa-solid fa-earth-americas"data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="left" title="Fr"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading4">Career path</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading5">Contact</a>
    </li>
      </ul>
    </li>
  </ul>
</nav>
