.footer {
  background: $turquise;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $tropicgreen;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $moutard;
}
.footer .fa-copyright {
  color: $tropicgreen;
}

.grand {
  font-size: 56px;
  color: $turquise
}

.grand:hover {
  color: $tropicgreen;
  margin-bottom: 10px;

}

#download {
  font-size: 32px;
}
